*{
	margin:0;
	padding:0;
	font-family: 'Indie Flower', cursive;
}

body{
	background-color: $bluish-black;
	//background-image: url(../imgs/icegiant.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}