
#demo{
	font-size: $small;
}


.today{
	font-size: $large;
}

.time{
	font-size: $small;
}

#holidayDate{
	font-size: $small;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
	.today{
		font-size: $large_mobile;
	}

	.time{
		font-size: $small_mobile;
	}

	#holidaydate{
		font-size: $small_mobile;
	}
}